@import 'src/styles/index';

.user-profile-button {
  background-color: $color-transparent;
  border: 0;
  position: relative;
  cursor: pointer;

  &__image {
    border-radius: 50%;
    height: 40px;
    width: 40px;
  }

  &__icon {
    bottom: 5px;
    position: absolute;
    right: 0;
  }
}
