@import 'src/styles/index';

.tabs {
  &__list {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    height: 80px;

    &__item {
      width: 164px;
      height: 100%;
      border: none;
      outline: none;
      background: transparent;
      align-items: center;
      box-sizing: border-box;
      justify-content: center;
      display: flex;
      flex-direction: row;
      color: white;
      gap: 12px;

      &:hover {
        cursor: pointer;
        background-color: #653def;
      }

      &--active {
        background-color: #613ce0;
      }
    }
  }
}
